body {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    text-align: center;
    font-family: 'Courier Prime', monospace;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

table {
    table-layout: fixed;
    /* width: 100%; */
    border-collapse: collapse;
    border: 3px solid purple;
    border-radius: 15px;
    /* border-collapse: separate; */
    background-color: #f6e4b9;
}

th {
    text-align: left;
    border: 2px solid #afafae;
    font-size: larger;
}


td, th {
    padding: 15px;
}

span {
    background-color: rgb(236, 162, 105);
}

.tag, .name {
    width: 20%;
    border: 2px solid #afafae;
}

.descr {
    border: 2px solid #afafae;
}

.tag {
    font-family: 'Source Code Pro', monospace;
}